{% extends "base.html" %}

{% block content %}
<div class="center">
    <div class="card">
        <div class="emoji">🐮</div>

        <h2>Sign Up</h2>
        <p class="hint">Cute farm club registration 🌸</p>

        <form>
            <input placeholder="Enter Username">
            <input type="password" placeholder="Enter Password">
            <button class="btn">Sign Up</button>
        </form>

        <a href="/login" class="btn pink">Back to Login</a>
    </div>
</div>
{% endblock %}



        
